@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-size-text: 1rem;
  --font-size-title: 1rem;
}

.font-size-text-adjust {
  font-size: var(--font-size-text);
}

.font-size-title-adjust {
  font-size: var(--font-size-title);
}

body {
  @apply text-foreground bg-gradient-to-t from-background to-divider;
}

.button {
  @apply bg-primary text-primary-foreground;
}

.link {
  @apply text-secondary;
}

.logo {
  @apply text-foreground;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

